a {
	color: #1779ba; /* [Foundation] opinionated color alternative */
	text-decoration: none;
}

a:hover,
a:focus,
a:active {
	text-decoration: underline;
	color: #1468a0; // [Foundation] opinionated color alternative
}
