.colophon {
	font-size: rem-calc(12);
	text-transform: uppercase;
	letter-spacing: rem-calc(0.5);

	a {
		border-bottom: 0;
		text-decoration: none;
		color: $black;

		span {
			text-decoration: underline;
		}

		&:hover {
			text-decoration: underline;
			color: #1468a0;
		}
	}
}
