.reveal-modal-bg {
	position: fixed;
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,.8);
	z-index: 100;
	display: none;
	top: 0;
	left: 0;
}

.reveal-modal {
	visibility: hidden;
	top: 100px;
	background: #eee;
	position: absolute;
	width: 100%;
	z-index: 101;
	padding: 24px 32px;
	border-radius: 6px;
}

@media screen and (min-width: 480px) {
	.reveal-modal {
		width: 460px;
		left: 50%;
		margin-left: -230px;
	}
}

.reveal-modal .close-reveal-modal {
	font-size: 40px;
	line-height: .5;
	position: absolute;
	top: 16px;
	right: 16px;
	color: #aaa;
	font-weight: bold;
	cursor: pointer;
	text-decoration: none;
}
