.ladder-slogan {
	// background: #fff url("/img/ceiling.jpg") center/100% no-repeat;
	background: #fff url('/img/ceiling-enlarged.jpg') center/100% no-repeat;
	width: 100%;
	color: white;
	text-align: center;
	padding: 12% 0 12% 0;
}

.parallax-hero {
	background: #fff url('/img/page-hero.jpg') center/100% no-repeat;
	width: 100%;
	text-align: center;
	padding: 10% 0 15% 0;
}

.ladder {
	text-align: center;
	color: #c33;
	font-size: 33px;
	line-height: 33px;
}
