$minWidth-1025: 'only screen and (min-width : 1025px)';

.ladder-banner {
	height: 400px;

	.inner {
		height: 100%;
		justify-content: center;
		align-items: center;
	}
}

.parallax-background {
	background: #fff url('/img/ceiling-enlarged.jpg') center/100% no-repeat;
}

.static-background {
	background: #fff url('/img/ceiling-enlarged.jpg') center/100% no-repeat;

	@media #{$minWidth-1025} {
		background: none;
	}
}

.parallax-hero {
	background: #fff url('/img/page-hero.jpg') center/100% no-repeat;
	width: 100%;
	text-align: center;
	padding: 10% 0 15% 0;
}

.ladder {
	text-align: center;
	color: #c33;
	font-size: 33px;
	line-height: 33px;
}
