// ----------------------------------------------
// |            typography Variables            |
// ----------------------------------------------
$global-font-size: 100% !default;
$p-font-family: 'PT Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$h-font-family: $p-font-family;


// Functions import necessary for rem-calc(X) usage:
@import '../functions/_functions.scss';

// Font Sizes ------------------------------------------------ //
$p: 16px;

// (Major Third - 1.250) //
$h1: 39px;
$h2: 31px;
$h3: 25px;
$h4: 21px;
$h5: 16px;
$h6: 14px;

// (Perfect Fourth - 1.333) //
$h1-medium: 50px;
$h2-medium: 38px;
$h3-medium: 28px;
$h4-medium: 21px;


// -------------------------------------------
// |            typography Colors            |
// -------------------------------------------
$p-color: $black;
$h-color: $p-color;
