
.padding-0 {
	padding: 0;
}

.paddingX-16 {
	padding: 0 16px;
}

.paddingY-16 {
	padding: 16px 0;
}

.paddingY-32 {
	padding: 32px 0;
}

.paddingTop-16 {
	padding-top: 16px;
}

.paddingBottom-16 {
	padding-bottom: 16px;
}

.margin-0 {
	margin: 0;
}

.marginX-16 {
	margin: 0 16px;
}

.marginTop-16 {
	margin-top: 16px;
}

.marginBottom-16 {
	margin-bottom: 16px;
}

.marginY-16 {
	margin: 16px 0;
}

.marginY-32 {
	margin: 32px 0;
}