
img {
	display: inline-block;
	vertical-align: middle;
	max-width: 100%;
	height: auto;
	-ms-interpolation-mode: bicubic;
}

hr {
	margin: 16px 0;
	height: 1px;
	background: #d3d3d3;
	border: none;
	width: 100%;
	clear: both
}