// Google Font imports ::
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');

body {
    font-family: 'PT Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: normal;
    line-height: 1.5;
    color: #353738;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

hr {
    margin: 1em 0;
    height: 1px;
    background: #d3d3d3;
    border: none;
    width: 100%;
    clear: both
}

a,a:visited {
    text-decoration: none
}

a:hover {
    text-decoration: underline
}

h1,h2,h3 {
    font-family: "PT Serif",serif;
    font-weight: 700;
    text-align: center
}

h2 {
    font-size: 1.6em;
    margin-top: 1.5em;
    margin-bottom: 1.5em
}

h3 {
    font-size: 1.1em;
    font-family: "PT Sans",sans-serif;
    font-weight: 700;
    margin-bottom: 1em;
    text-transform: uppercase;
    letter-spacing: 0.1em
}

a.button {
    background: #e33f0c;
    text-align: center;
    padding: 0.5em 1em;
    color: white;
    font-weight: bold;
    text-decoration: none;
    box-shadow: 0 0.2em 0 #ab3009;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    -webkit-transition: background 0.2s ease-out;
    -moz-transition: background 0.2s ease-out;
    -o-transition: background 0.2s ease-out;
    transition: background 0.2s ease-out
}

a.button:hover {
    background: #ab3009
}