// Google Font imports ::
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700|PT+Serif:400,700');

html {
    font: 100%/1.5em "PT Sans",sans-serif
}

body {
    font-size: 1em;
    color: #353738
}

hr {
    margin: 1em 0;
    height: 1px;
    background: #d3d3d3;
    border: none;
    width: 100%;
    clear: both
}

a,a:visited {
    text-decoration: none
}

a:hover {
    text-decoration: underline
}