

div.band .columns {
    padding-top: 1em;
    padding-bottom: 1em
}

header.band h1 {
    font-size: 3em;
    line-height: 1em;
    margin-bottom: 1em
}

footer {
    font-size: 0.5em;
    text-align: center
}

.last a {
    margin: 0 1em
}

.social-tuts {
    color: #E36316
}

.social-dribbble {
    color: #c5376d
}

.social-facebook {
    color: #3B5998
}

@media only screen and (min-width: 767px) {

    body {
        font-size: 1.125em;
        line-height: 1.7em
    }

    div.band .columns {
        padding-top: 2em;
        padding-bottom: 2em
    }

    header.band h1 {
        font-size: 3.25em
    }

    a.button {
        padding: 0.75em 1.5
    }
}