

div.band .columns {
    padding-top: 1em;
    padding-bottom: 1em
}

header.band {
    background: #ffffff;
    color: white;
    text-align: center;
    padding: 10% 0 15% 0
}

header.band h1 {
    font-size: 3em;
    line-height: 1em;
    margin-bottom: 1em
}

footer {
    font-size: 0.5em;
    text-align: center
}

.last a {
    margin: 0 1em
}

.social-tuts {
    color: #E36316
}

.social-dribbble {
    color: #c5376d
}

.social-facebook {
    color: #3B5998
}

header.band {
    background-image: url(../img/background2-white.jpg);
    background-size: 100%
}

header.band2 {
    background-image: url(../img/ceiling-enlarged.jpg);
    background-size: 100%;
    color: white;
    text-align: center;
    padding: 10% 0 15% 0
}

header.band2 {
    background-image: url(../img/ceiling-enlarged.jpg) center no-repeat;
    background-size: 100%
}

header.band {
    background-image: url(../img/background2-white.jpg);
    width: 100%;
}

@media only screen and (min-width: 767px) {
header.band {
    background-image: url(../img/background2-white.jpg);
    width:100%;}

    header.band2 {
        background-image: url(../img/ceiling-enlarged.jpg) center no-repeat;
        width: 100%;
        color: white;
        text-align: center;
        padding: 10% 0 15% 0
    }

    header.band2 {
        background-image: url(../img/ceiling-enlarged.jpg) center no-repeat;
        width: cover;
    }

    body {
        font-size: 1.125em;
        line-height: 1.7em
    }

    div.band .columns {
        padding-top: 2em;
        padding-bottom: 2em
    }

    header.band {
        background-image: url(../img/background2-white.jpg) center no-repeat;
        width: cover;
    }

    header.band h1 {
        font-size: 3.25em
    }

    a.button {
        padding: 0.75em 1.5
    }
}